{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Symfony Forum{% endblock %}

{% block body %}

    <h1>Bienvenue sur Symfony Forum</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi perferendis vitae molestiae sit assumenda eveniet! Quidem mollitia aspernatur 
    quisquam porro obcaecati tenetur dolor possimus corrupti. Adipisci consequatur porro eveniet laboriosam, reprehenderit quibusdam officia debitis
    facilis amet ullam ipsam suscipit quae tempore quisquam vel quod obcaecati odio doloremque incidunt, sequi vero.</p>

    <div class="home-liens">
        <ul>
            <li>
                <a class="nav-link" href="{{path('app_categorie')}}">Naviguer</a>
            </li>
            {% if not app.user %}
                <li class="nav-item">
                    <a href="{{path("app_register")}}" class="nav-link">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a href="{{path("app_login")}}" class="nav-link">Se connecter</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{path("app_logout")}}" class="nav-link">Se déconnecter</a>
                </li>
            {% endif %}
        </ul>
    </div>

{% endblock %}
