{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}

    <h1 class="titre">Liste des catégories</h1>

    <div class="liste-categories__liste">
        {% for categorie in categories %}

            <a href="{{path('show_categorie', {'id':categorie.id})}}">{{categorie}}</a><br>

        {% endfor %}
    </div>  

{% endblock %}
